# 13. 함수 적용

In [7]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

,name,club,height,Language,English,Math,science,Society,SW
지원번호,,,,,,,,,
1번,kronii,council,168,10,85,10,20,75,Python
2번,botan,JP5,166,30,35,65,95,35,Java
3번,anya,ID2,147,60,50,45,45,20,Javascript
4번,mio,GM,160,90,30,35,90,90,NaN
5번,roboco,JP0,154,80,15,75,55,45,NaN
6번,Marine,JP3,150,65,80,55,75,95,C
7번,Baelz,council,149,85,70,80,60,100,PYTHON
8번,okayu,GM,152,35,10,95,85,55,C#

In [8]:
df['club'] = 'Hololive_' + df['club']
df

,name,club,height,Language,English,Math,science,Society,SW
지원번호,,,,,,,,,
1번,kronii,Hololive_council,168,10,85,10,20,75,Python
2번,botan,Hololive_JP5,166,30,35,65,95,35,Java
3번,anya,Hololive_ID2,147,60,50,45,45,20,Javascript
4번,mio,Hololive_GM,160,90,30,35,90,90,NaN
5번,roboco,Hololive_JP0,154,80,15,75,55,45,NaN
6번,Marine,Hololive_JP3,150,65,80,55,75,95,C
7번,Baelz,Hololive_council,149,85,70,80,60,100,PYTHON
8번,okayu,Hololive_GM,152,35,10,95,85,55,C#

## 데이터에 함수 적용 (apply)

In [9]:
# 키 뒤에 cm 을 붙이는 역할
def add_cm(height):
    return str(height) + ' cm'

# 키 데이터에 대해서 add_cm 함수로 호출한 결과 데이터를 반영
df['height'] = df['height'].apply(add_cm)
df

,name,club,height,Language,English,Math,science,Society,SW
지원번호,,,,,,,,,
1번,kronii,Hololive_council,168 cm,10,85,10,20,75,Python
2번,botan,Hololive_JP5,166 cm,30,35,65,95,35,Java
3번,anya,Hololive_ID2,147 cm,60,50,45,45,20,Javascript
4번,mio,Hololive_GM,160 cm,90,30,35,90,90,NaN
5번,roboco,Hololive_JP0,154 cm,80,15,75,55,45,NaN
6번,Marine,Hololive_JP3,150 cm,65,80,55,75,95,C
7번,Baelz,Hololive_council,149 cm,85,70,80,60,100,PYTHON
8번,okayu,Hololive_GM,152 cm,35,10,95,85,55,C#

In [10]:
def capitalize(lang):
    if pd.notnull(lang): # NaN이 아닌지
        return lang.capitalize() # 첫 글자는 대문자로, 나머지는 소문자로
    return lang

df['SW'] = df['SW'].apply(capitalize)
df

,name,club,height,Language,English,Math,science,Society,SW
지원번호,,,,,,,,,
1번,kronii,Hololive_council,168 cm,10,85,10,20,75,Python
2번,botan,Hololive_JP5,166 cm,30,35,65,95,35,Java
3번,anya,Hololive_ID2,147 cm,60,50,45,45,20,Javascript
4번,mio,Hololive_GM,160 cm,90,30,35,90,90,NaN
5번,roboco,Hololive_JP0,154 cm,80,15,75,55,45,NaN
6번,Marine,Hololive_JP3,150 cm,65,80,55,75,95,C
7번,Baelz,Hololive_council,149 cm,85,70,80,60,100,Python
8번,okayu,Hololive_GM,152 cm,35,10,95,85,55,C#